table {
    border-collapse: collapse;
    width: 100%;
    max-width: 30rem;
    margin-top: 1em;
    font: inherit;
    text-align: left;
    background-color: #fff;
    border: 1px solid #cccccc8e;
    border-radius: 4px;
    overflow: hidden;
}

thead {
    background-color: #f0f0f0;
}

th,
td {
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: 600;
}

tr:nth-child(even) td {
    background-color: #fafafa;
}

tr:hover td {
    background-color: #f2f7ff;
}