table {
    /* border-collapse: collapse; */
    width: 100%;
    max-width: 30rem;
    margin: 1rem auto;
    font: inherit;
    text-align: left;
    background-color: var(--white);
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    overflow: hidden;
}

thead {
    background-color: var(--grey-100);
}

th,
td {
    padding: 0.5em 0.75em;
    border-bottom: 1px solid var(--grey-400);
}

th {
    font-weight: 600;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: var(--grey-200);
}

tr:hover td {
    background-color: var(--grey-300);
}

.value {
    text-align: right;
}